<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HandlebarJs</title>
</head>
<body>
    <h1>this is a dynamic content with handlebar.js engine</h1>
    {{>header}}
    <p>first set the view engine with app.set and app.render(file name which is within views folder)</p>
</body>
</html>