<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sumit's Website</title>
    <link rel="stylesheet" href="bootstrap.css" />
  </head>
  <body>
  <div class="col-lg-4 text-white name mb-5">Sumit Kumar Gupta</div>
        <div class="col-lg-8">
          <nav>
            <ul
              class="nav nav-justified main-nav d-none d-md-flex"
              id="main-ul"
            >
              <li class="nav-item navi">
                <a class="nav-link text-white" href="#">Home</a>
              </li>
              <li class="nav-item navi">
                <a class="nav-link text-white" href="about.html">About</a>
              </li>
              <li class="nav-item navi">
                <a class="nav-link text-white" href="#">Skills</a>
              </li>
              <li class="nav-item navi">
                <a class="nav-link text-white" href="#">Experiences</a>
              </li>
              <li class="nav-item navi">
                <a class="nav-link text-white" href="#">Portfolio</a>
              </li>
              <li class="nav-item navi">
                <a class="nav-link text-white" href="#">Pricing</a>
              </li>
              <li class="nav-item navi">
                <a class="nav-link text-white" href="#">Blog</a>
              </li>
              <li class="nav-item navi">
                <a class="nav-link text-white" href="#">Contact </a>
              </li>
            </ul>
          </nav>    
  </body>
  </html>