* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

h2 {
  display: flex;
  padding: 20px;
  background-color: chartreuse;
  font-size: 35px;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.form-control {
  padding: 20px 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  font-size: 20px;
  position: relative;
}

.form-control small {
  visibility: hidden;
  font-variant: small-caps;
  color: red;
  position: absolute;
}

.form-control.error small {
  visibility: visible;
}
.form-control input {
  font-size: 20px;
  display: flex;
  font-family: cursive;
  text-align: center;
  justify-content: center;
}

.form-control.success input {
  border-color: green;
}
.form-control.error input {
  border-color: red;
}

.form-control i {
  position: absolute;
  right: 12px;
  visibility: hidden;
  top: 46px;
}

.form-control.success i.fa-check-circle {
  color: green;
  visibility: visible;
}

.form-control.error i.fa-circle-exclamation {
  color: red;
  visibility: visible;
}

.btn {
  font-size: 25px;
  font-variant: small-caps;
  background-color: aqua;
  border-radius: 10px;
  padding: 5px 20px;
}
