* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
h1 {
  background-color: black;
  padding: 20px;
  text-align: center;
  color: white;
  font-family: cursive;
  font-weight: 900;
}
#one {
  padding: 10px;
  color: red;
  font-size: 20px;
  font-variant: small-caps;
}
#two {
  padding: 10px;

  color: green;
  font-size: 26px;
  font-family: monospace;
}
#three {
  padding: 10px;
  color: blueviolet;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#four {
  color: cyan;
  padding: 10px;
  font-size: 26px;
  font-family: "Times New Roman", Times, serif;
}
